<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - GradMate</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <main>
        <img src="img/logo.png" alt="Logo do sistema" id="logo" />
        <div id="left_side">
            <p id="title_login">Login</p>
            <p id="desc_login">Realize o login para acessar o GradMate</p>
        </div>
        <form id="right_side" action="/login" method="POST">
            <label for="input_user" class="lbl_input_txt">Usuário</label>
            <input type="text" name="user" id="input_user" class="input_txt" maxlength="50">
            <label for="input_pass" class="lbl_input_txt">Senha</label>
            <input type="password" name="pass" id="input_pass" class="input_txt" maxlength="50">
            <button id="submit">Entrar</button>
        </form>
        <% if (typeof loginValid !== 'undefined' && !loginValid) { %>
            <script>
                alert("Não foi possível efetuar o login com as credenciais fornecidas! Tente novamente.")
            </script>
        <% } %>
    </main>
</body>

</html>