@import url("./main.css");

body {
    background-color: #d0bebe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 70vw;
}

#logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 30%;
}

#submit {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 1.5em;
    padding: 0.2em 0.5em;
    border:none;
    background-color: red;
    border-radius: 15px;
    color: white;
}

#submit:hover {
    background-color: indianred;
}

#right_side, #left_side {
    display: flex;
    flex-direction: column;
}

#left_side {
    width: 65%;
    text-align: left;
    gap: 5px;
}

#right_side {
    width: 25%;
    text-align: left;
    gap: 10px;
}

.lbl_input_txt {
    font-size: 1.2em;
}

.input_txt {
    font-size: 1em;
    padding: 0.2em 0.5em;
}

#title_login {
    font-weight: bold;
    font-size: 2.3em;
}